
<div class="row my-5">
  <div class="col-xl-8 col-md-10 mx-auto">
    <div class="card shadow p-4">
      <h3 class="card-title text-center mb-4">Formulario para Productos</h3>
      <hr class="divider">
    <form #productoForm="ngForm" (ngSubmit)="guardar()" novalidate>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          [(ngModel)]="producto.nombre"
          placeholder="Ingrese el nombre del producto"
          required
          minlength="3"
          pattern="^[a-zA-Z0-9\s-_]+$"
          #nombre="ngModel"
        />
        @if(nombre.invalid && nombre.touched){
          <div class="alert alert-danger mt-2 text-center">
            @if(nombre.errors?.['required']){
              <small>El nombre es requerido</small>
            } @else if (nombre.errors?.['minlength']){
              <small>Debe tener al menos 3 caracteres</small>
            } @else if (nombre.errors?.['pattern']){
              <small>Solo se permiten letras ,numeros, espacios y los caracteres - y _</small>
            }
          </div>
        }

      </div>

      <div class="mb-3">
        <label for="codigo" class="form-label">Código</label>
        <input
          type="text"
          class="form-control readonly-input"
          id="codigo"
          name="codigo"
          [(ngModel)]="producto.codigo"
          placeholder=""
          required
          minlength="4"
          value=""
          readonly
          #codigo="ngModel"
        />
       
      </div>

      <div class="mb-3">
        <label for="stock" class="form-label">Stock</label>
        <input 
          type="text" 
          class="form-control" 
          id="stock" 
          name="stock" 
          [(ngModel)]="producto.stock"
          placeholder="Ingrese el stock del producto"
          required
          pattern="^[1-9][0-9]*$"
          #stock="ngModel"
        >
        @if(stock.invalid && stock.touched){
          <div class="alert alert-danger mt-2 text-center">
            @if(stock.errors?.['required']){
              <small>El stock es requerido</small>
            } @else if (stock.errors?.['pattern']){
              <small>Solo se permiten numeros enteros mayores a cero</small>
            }
          </div>
        }
    </div>

      <div class="mb-3">
        <label for="stock_min" class="form-label">Stock Minimo</label>
        <input
          type="text"
          class="form-control"
          id="stock_min"
          name="stock_min"
          [(ngModel)]="producto.stock_min"
          placeholder="Ingrese el stock minimo requerido"
          required
          pattern="^[1-9][0-9]*$"
          #stock_min="ngModel"
        />
        @if(stock_min.invalid && stock_min.touched){
          <div class="alert alert-danger mt-2 text-center">
            @if(stock_min.errors?.['required']){
              <small>El stock minimo es requerido</small>
            } @else if (stock_min.errors?.['pattern']){
              <small>Solo se permiten numeros enteros mayores a cero</small>
            }
          </div>
        }
      </div>

      <div class="mb-3">
        <label for="stock_max" class="form-label">Stock Maximo</label>
        <input 
          type="text" 
          class="form-control" 
          id="stock_max" 
          name="stock_max" 
          [(ngModel)]="producto.stock_max"
          placeholder="Ingrese el stock maximo requerido"
          required
          pattern="^[1-9][0-9]*$"
          #stock_max="ngModel"
        >
        @if(stock_max.invalid && stock_max.touched){
          <div class="alert alert-danger mt-2 text-center">
            @if(stock_max.errors?.['required']){
              <small>El stock maximo es requerido</small>
            } @else if (stock_max.errors?.['pattern']){
              <small>Solo se permiten numeros enteros mayores a cero</small>
            }
          </div>
        }
    </div>

     
      

      <div class="mb-3">
        <label for="precio_venta" class="form-label">Precio de Venta</label>
        <input
        type="number" 
        min="0" 
        step="0.01" 
          class="form-control"
          id="precio_venta"
          name="precio_venta"
          [(ngModel)]="producto.precio_venta"
          placeholder=""
          placeholder="Ingrese el precio de venta del producto"
          required
          
          #precio_venta="ngModel"
        />
        @if(precio_venta.invalid && precio_venta.touched){
          <div class="alert alert-danger mt-2 text-center">
            @if(precio_venta.errors?.['required']){
              <small>El precio de venta es requerido</small>
            }@else{
              <small>Formato incorrecto de precio</small>
            }
          </div>
        }
      </div>

      <div class="mb-3">
        <label for="precio_compra" class="form-label">Precio de Compra</label>
        <input
          type="number"
          min="0" 
          step="0.01" 
          class="form-control"
          id="precio_compra"
          name="precio_compra"
          [(ngModel)]="producto.precio_compra"
          placeholder=""
          placeholder="Ingrese el precio de compra del producto"
          required
          
          #precio_compra="ngModel"
        />
        @if(precio_compra.invalid && precio_compra.touched){
          <div class="alert alert-danger mt-2 text-center">
            @if(precio_compra.errors?.['required']){
              <small>El precio de compra es requerido</small>
            }@else {
              <small>Formato incorrecto de precio</small>
            }
          </div>
        }
      </div>

     

      <mat-form-field class="form-control" appearance="fill">
        <mat-label>Seleccione una categoría</mat-label>
        <input
          type="text"
          placeholder="Buscar categoría"
          aria-label="Buscar"
          matInput
          [formControl]="categoriaControl"
          [matAutocomplete]="auto"
          >
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCategoryName">
          <mat-option *ngFor="let categoria of filteredCategorias | async" [value]="categoria">
            {{ categoria.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      

      <div class="d-flex justify-content-evenly">
        
        
          <button 
          type="submit" 
          class="btn btn-primary"
          >Agregar</button>
        
        
      </div>
    </form>
    </div>
  </div>
</div>
