<p>tabla-usuario works!</p>

<div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Personal Activo
    </div>
    <div class="card-body">
      <table id="datatablesSimple" #datatablesSimple>
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Usuario</th>
            <th>Cargo</th>
            <th></th>
          </tr>
        </thead>
        <!-- <tfoot>
          <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Usuario</th>
          </tr>
        </tfoot> -->
        <tbody>
          @for (usuario of usuarios; track usuario.idUsuario) {
            <tr>
              <td> {{usuario.nombre}}  
                {{usuario.primerApellido}} 
                {{usuario.segundoApellido}}
              </td>
              <td> {{usuario.telefono}} </td>
              <td> {{usuario.nombreUsuario}} </td>
              <td>{{usuario.rol.nombreRol}}</td>
              <td class="text-center" >
                <button 
                (click)="enviarUsuario($event)"
                [attr.data-id]="usuario.idUsuario"
                routerLink="../formulario-usuario" 
                type="button" 
                class="btn btn-primary btn-sm" >Editar</button>
              </td>
            </tr>
          }
          
        </tbody>
      </table>
    </div>
  </div>

