<body>
  <div class="container-fluid">
      <div class="row">
          <!-- Fondo izquierdo -->
          <div class="col-md-6 col-sm-12 fondo-izq">
              <img src="../../assets/img/img.png" class="imagen-centrada" alt="Imagen centrada">
          </div>
          
          <div class="col-md-6 col-sm-12 fondo-derecho">
              <form *ngIf="!mostrarRecuperacion" (submit)="login()" class="form-contenedor w-100 p-4">
                  <h3 class="text-center mb-4 text-white">Inicio de sesión</h3>
                  
                  <div class="mb-3">
                      <label for="usuario" class="form-label text-label">Usuario</label>
                      <input type="text" class="form-control" id="usuario" (input)="onInputChange()" placeholder="Ingrese su nombre de usuario" name="usuario" [(ngModel)]="usuario">
                      <div *ngIf="errorUsuario" class="text-danger">{{ errorUsuario }}</div> 
                  </div>

                  <div class="mb-3">
                      <label for="password" class="form-label text-label">Contraseña</label>
                      <input type="password" class="form-control" id="password" (input)="onInputChange()" placeholder="Ingrese la contraseña" name="password" [(ngModel)]="password">
                      <div *ngIf="errorPassword" class="text-danger">{{ errorPassword }}</div> 
                  </div>
                  
                  <a class="dropdown-item mb-3 text-link" href="#" (click)="mostrarRecuperacionContrasenia()"><em>¿Olvidaste la contraseña?</em></a>
                  
                  <button type="submit" class="btn btn-log w-100">Ingresar</button>
                  <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div> 
              </form>

              <!-- recuperación de contraseña -->
              <div *ngIf="mostrarRecuperacion" class="form-contenedor">
                  <h3>Recuperar Contraseña</h3>
                  <div class="mb-3">
                      <label for="emailRecuperacion" class="form-label text-label">Correo electrónico</label>
                      <input type="email" class="form-control" id="emailRecuperacion" (input)="onInputChange()"  placeholder="Ingrese su correo" [(ngModel)]="emailRecuperacion">
                      <div *ngIf="errorUsuario" class="text-danger">{{ errorUsuario }}</div> 
                  </div>
                  <button (click)="recuperarContrasenia()" class="btn btn-log w-100">Enviar</button>
                  <button (click)="mostrarRecuperacion = false" class="btn btn-link w-100 mt-2 text-link">Cancelar</button>
                  <div *ngIf="errorMessage" class="mt-2 text-danger">{{ errorMessage }}</div>
              </div>
          </div>
      </div>
  </div>
</body>
