body {
  font-size: 1.3rem;
}

.card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.155); 
  border-radius: 20px;
  background-color: rgba(36, 83, 185, 0.47);
}
.fondo{
  background-image: url("../../assets/img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-derecho{
  background-color: rgba(255, 255, 255, 0.358);

} 