
body {
  margin: 0;
  padding: 0;
  min-height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.texto{
  text-align: center;
  font-size: 45px;
  color: var(--color-fondo);
  font-weight: bold;
}

.fondo-izq {
  background-color: var(--color-fondo); 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo-derecho {
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 70px;
}

  .form-contenedor {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;  
    max-width: 800px;  
    gap: 30px;
  }

.form-control {
  background-color: var(--bs-gray-300);
  border: none;
  color:var(--bs-body-color);
  font-size: 25px;
  padding: 18px;  
}
.form-control::placeholder {
  color: var( --bs-gray-800);

}

.btn-log {
  background-color:var(--color-fondo);
  color: white;
  font-size: 20px;
  border-radius: 25px;
  padding: 1rem 1.5rem; 
  cursor: pointer;
  margin: 0 auto;
  width: 70%;
}
.btn-log:hover {
  background-color: #379182; 
}
.input-group-text{
  font-size: 30px;
}