<div class="row my-5">
    <div class="col-xl-8 col-md-10 mx-auto">
      <div class="card shadow p-4">
        <h3 class="card-title text-center mb-4">Formulario para Categorías</h3>
        <hr class="divider" />
        <form #categoriaForm="ngForm" (ngSubmit)="guardar()" novalidate>

          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              [(ngModel)]="categoria.nombre"
              placeholder="Ingrese el nombre de la categoría"
              required
              #nombre="ngModel"
              (keyup)="validarNombreCategoria()"
            />
            @if(mensajeErrorNombreCategoria){
              <div class="mt-2 danger">
                <small>{{ mensajeErrorNombreCategoria }}</small>
              </div>
            }
          </div>
  
          <div class="mb-3">
            <label for="codigo" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="categoria.descripcion"
              [disabled]="!nombre.valid"
              #descripcion="ngModel"
              (keyup)="validarDescripcionCategoria()"
            />
            @if(mensajeErrorDescripcionCategoria){
              <div class="mt-2 danger">
                <small>{{ mensajeErrorDescripcionCategoria }}</small>
              </div>
            }
          </div>
 
          <div class="d-flex justify-content-evenly">
            @if(modoEdicion){
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="categoriaForm.invalid"
              (click)="actualizarCategoria()"
            >
              Editar
            </button>
            <button type="button" class="btn btn-danger ms-2" routerLink="../tablaCategoria">Cancelar</button>
            } @else {
            <button type="submit" class="btn btn-primary" [disabled]="categoriaForm.invalid">Agregar</button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>