.contenedor{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 4%;
    padding: 50px;

}
.contenedor_grafico {
    width: 48%;
}

.controles {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px
}

@media (width <= 1300px) {
    .contenedor {
        justify-content: center;
    }
    .contenedor_grafico {
        width: 80%;
    }
  }