<!-- Seleccion de productos  -->
@if(ticket){
<div class="container">
  <div class="card shadow mb-4 col-6" style="margin: 0 auto">
    <div class="card-header py-3">
      <h5 class="card-title" id="ticketCardLabel">Ticket de Venta</h5>
    </div>
    <div class="card-body">
      <div class="ticket">
        <h3 class="text-center">SOSA STORE</h3>
        <div style="text-align: left">
          <p><span class="bold">Dirección:</span> Calle Guerrero 109B, San Lucas , Cuilapam de Guerrero, Oaxaca. CP:71404.</p>
          <p>
            <span class="bold">Fecha:</span>
            {{ fechaActual | date : "dd/MM/yyyy" }}
          </p>
          <p>
            <span class="bold"> Atendio:</span> {{ usuario.nombre }}
            {{ usuario.apellido1 }} {{ usuario.apellido2 }}
          </p>
          <!-- <p>Hora: {{ fechaHoraActual | date:'HH:mm:ss' }}</p> -->
        </div>

        <hr />
        <div class="d-flex justify-content-between">
          <span><strong>Cantidad</strong></span>
          <span><strong>Producto</strong></span>
          <span><strong>Precio</strong></span>
          <span><strong>Importe</strong></span>
        </div>
        <br />
        <div
          *ngFor="let product of dataSource.data"
          class="d-flex justify-content-between mb-2"
        >
          <span>{{ product.cantidad }}</span>
          <span>{{ product.producto.nombre }}</span>
          <span>{{ product.producto.precioVenta | currency }}</span>
          <span>{{ product.precioTotal | currency }}</span>
        </div>
        <hr />

        
        <div style="text-align: right;">
          <p>
            <strong>Total de la Compra:</strong> {{ venta.total | currency }}
          </p>
          <p><span class="bold"> Efectivo:</span> {{ cliente.ingresado | currency }}</p>
          <p><span class="bold"> Cambio:</span> {{ cliente.cambio | currency }}</p>
        </div>
        <hr />
        <div class="text-center">
          <p>¡Gracias por su preferencia!</p>
          <p><strong>Sosa Store</strong></p>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary"
        (click)="terminarVenta()"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
}@else {
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Código o Nombre del Producto</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="productoAgregado($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div *ngIf="productoSeleccionado">
    <input class="form-control" style="width: 90px;" type="number" [(ngModel)]="cantidadProducto" placeholder="Cantidad" >
  </div>
  <div *ngIf="productoSeleccionado">
    <button
      mat-raised-button
      class="btn btn-primary"
      (click)="agregarProducto()"
    >
      Agregar
    </button>
    <button mat-raised-button class="btn btn-danger" (click)="cancelar()">
      Cancelar
    </button>
  </div>
</div>

<!-- Tabla -->
<div class="container">
  <div class="mat-elevation-z8 fixed-table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="table-striped table-bordered"
      matSort
    >
      <!-- Column -->

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

      <ng-container matColumnDef="restante">
        <th mat-header-cell *matHeaderCellDef>Restante</th>
        <td mat-cell *matCellDef="let element">{{ element.restante }}</td>
      </ng-container>

      <ng-container matColumnDef="producto">
        <th mat-header-cell *matHeaderCellDef>Producto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.producto.nombre }}
        </td>
      </ng-container>

      <ng-container matColumnDef="precioUnitario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Precio Unitario
        </th>
        <td mat-cell *matCellDef="let element">
          ${{ element.producto.precioVenta }}
        </td>
      </ng-container>

      <ng-container matColumnDef="precioTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let element">${{ element.precioTotal }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let producto">
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="eliminarProducto(producto)"
          >
            Eliminar
          </button>

          <button
            type="button"
            class="btn btn-sm btn-primary amplio"
            (click)="incrementar(producto)"
          >
            Sumar
          </button>

          <button
            type="button"
            class="btn btn-sm btn-primary amplio"
            (click)="decrementar(producto)"
          >
            Restar
          </button>
        </td></ng-container
      >

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div
      *ngIf="dataSource.data.length === 0"
      class="empty-table-message fixed-table-container"
      style="justify-content: center"
    >
      No hay productos agregados
    </div>
  </div>
</div>

<!-- Funciones finales  -->
<div *ngIf="dataSource.data.length > 0" class="containertotales">
  <div style="margin-right: 30px">
    <p>Total de productos: {{ sumaTotalProductos }}</p>
    <p>Total de la compra: {{ totalCompra | currency }}</p>
  </div>

  <div class="botones-container">
    <button mat-raised-button class="btn btn-danger" (click)="cancelarVenta()">
      Cancelar Venta
    </button>
    <!-- <button mat-raised-button color="primary" (click)="cobrar()">Cobrar</button> -->
    <button
      mat-raised-button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#paymentModal"
      (click)="actualizarIngresado()"
    >
      Cobrar
    </button>
  </div>
</div>

}

<!-- Modal -->
<div
  class="modal fade"
  id="paymentModal"
  tabindex="-1"
  aria-labelledby="paymentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-verde">
        <h5
          class="modal-title"
          id="paymentModalLabel"
          style="font-size: 1rem; color: white"
        >
          Cobrar
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="changeAmount" class="form-label">Ingrese el monto:</label>
          <input
            type="number"
            id="ingresado"
            name="ingresado"
            class="form-control"
            [(ngModel)]="cliente.ingresado"
            (ngModelChange)="calcularCambio()"
            placeholder="Ingrese el monto"
          />
          @if(msgError){
          <div class="danger mt-2" style="color: rgb(190, 41, 41)">
            <p>{{ msgError }}</p>
          </div>
          }
        </div>

        <div class="mb-3">
          <label id="cambio" class="form-label">Cambio:</label>
          <span class="form-control" style="background: #f8f9fa"
            >$ {{ cliente.cambio | number : "1.2-2" }}</span
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-sm btn-danger"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          @if(cliente.ingresado >= totalCompra){
          <button
            mat-raised-button
            color="primary"
            (click)="cobrar()"
            class="btn-primary"
            data-bs-dismiss="modal"
          >
            Cobrar
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>