table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 90%;
  margin: 30px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
}

h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #35877b;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

table td {
  padding: 9px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #c9e7e2;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #ddd;
}

.fixed-table-container {
  width: 100%;
  height: 400px; /* Altura fija para la tabla */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-table-container table {
  width: 100%;
  height: auto;
}

.empty-table-message {
  width: 100%;
  text-align: center;
  color: gray;
  font-size: 20px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.ticket h3 {
  margin-bottom: 15px;
}

.ticket p {
  margin: 5px 0;
}

.ticket-item {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-content {
  padding: 20px;
}
.mat-mdc-form-field {
  font-size: 12px;
  width: auto; /* Cambiado de 100% a auto */
  flex-grow: 1; /* Permite que el filtro ocupe el espacio disponible */
}

.text-end {
  text-align: right;
}

.containertotales {
  text-align: right;
  max-width: 80%;
  margin: 30px auto;
  background-color: #fdfdfd; /* Color más claro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más suave */
  gap: 10px;
  font-family: Arial, sans-serif;
}

/* Estilo para los textos */
.containertotales p {
  font-size: 16px;
  margin: 5px 0;
  font-weight: bold;
  color: #2c3e50; /* Color más oscuro */
}

.amplio{
  padding: 5px 30px;
  font-size: large;
}
