<div class="container">
  <h2>Lista de Categorias</h2>
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="¿Que desea buscar?" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table-striped table-bordered " matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let categoria">{{ categoria.nombre }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let categoria">{{ categoria.descripcion }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef >Acciones</th>
        <td mat-cell *matCellDef="let categoria">
          <button 
            (click)="enviarCategoria($event)"
            [attr.data-id]="categoria.id_categoria"
            routerLink="../formularioCategoria" 
            type="button" 
            class="btn btn-primary btn-sm" 
            >Editar</button>
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="deleteCategoria(categoria.id_categoria)"
          >
            Eliminar
          </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Ninguna coincidencia: "{{input.value}}"</td>
      </tr>

    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic usuarios"
    >
    </mat-paginator>
  </div>
</div>




<!-- <div class="card mb-4 my-5">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Categorias
    </div>
    <div class="card-body">
      @if(categoriaList.length > 0){
      <table id="datatablesSimple" #datatablesSimple>
        <thead class="table-dark">
          <tr>
            <th style="display: none">ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (categoria of categoriaList; track categoria.id_categoria) {
          <tr>
            <td style="display: none">{{ categoria.id_categoria }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>{{ categoria.descripcion }}</td>
            <td class="text-center">
              <div class="d-flex justify-content-center gap-1">
  
  
                <td class="text-center" >
                  <button 
                  (click)="enviarCategoria($event)"
                  [attr.data-id]="categoria.id_categoria"
                  routerLink="../formularioCategoria" 
                  type="button" 
                  class="btn btn-primary btn-sm" 
                  >Editar</button>
                </td>
                <button
                  type="button"
                  class="btn btn-sm btn-danger"
                  
                  (click)="deleteCategoria(categoria.id_categoria)"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
      }
    </div>
  </div> -->